@import '/src/assets/styles/colors';

.footer {
	// background-color: grey;
	height: 5rem;
	display: flex;
    justify-content: center;
    align-items: center;
	font-weight: 500;
	// background-color: $pastel-blue;
	background-color: lightgray;
}